---
// Button with text-shadow marquee effect
export interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<a class="btn" href={href}>
  <div class="btn-label">
    {text}
  </div>
</a>

<script>
  const btns = [...document.querySelectorAll(".btn")] as HTMLAnchorElement[];
  btns.forEach((b) => {
    const btnLabel = b.firstElementChild as HTMLDivElement;
    if (btnLabel) {
      btnLabel?.style.setProperty("--width", b?.offsetWidth + "px");
    }
  });
</script>

<style lang="scss">
  .btn {
    background: var(--color-primary);
    color: var(--color-font-secondary);
    padding: 1em 1.5em;
    transition: 0.5s ease;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

  .btn:hover {
    background: var(--color-accent);
  }

  .btn-label {
    text-shadow: var(--width) 0 currentColor;
  }

  .btn:hover .btn-label {
    // animation: marquee 2s linear infinite;
    pointer-events: none;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-1 * var(--width)));
    }
  }
</style>
