@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
}

.fil {
  filter: drop-shadow(10px 10px 4px);
  @apply mx-auto mb-10 desktop:mt-48 tablet:mt-32 small:w-96;
}

.bouncy:hover {
  animation: headShake;
  animation-duration: 1.5s;
}

.hinge:hover {
  animation: headShake;
  animation-duration: 1.5s;
}

body {
  overflow: auto;
}

html {
  height: 100%;
}
