[submodule "vArenas"]
	path = vArenas
	url = https://github.com/VersaiPE/vArenas.git
	branch = main
[submodule "VLogger"]
	path = VLogger
	url = https://github.com/VersaiPE/VLogger.git
	branch = main
[submodule "vWarps"]
	path = vWarps
	url = https://github.com/VersaiPE/vWarps.git
[submodule "vStaff"]
	path = vStaff
	url = https://github.com/VersaiPE/vStaff.git
