---
// Button with text-shadow marquee effect
export interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<a class="btn" href={href}>
  {text}
</a>

<style lang="scss">
  .btn {
    background: var(--color-primary);
    color: var(--color-font-secondary);
    padding: 1em 1.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

  .btn:hover {
    color: var(--color-font-secondary);
    background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary), var(--color-tertiary) 100%);
    background-size: 400% 400%;
    animation: osclating-bg 5s ease infinite;
  }

  @keyframes osclating-bg {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-1 * var(--width)));
    }
  }
</style>
